/*General parameters*/
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: var(--color-Light-grayish-cyan);
  font-weight: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Typography*/
ul {
  list-style: none;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1.5rem;
}
@media screen and (min-width: 864px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*Variables*/
:root {
  --color-primary: hsl(172, 67%, 45%);
  --color-secondary: hsl(172, 90%, 80%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-greyish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-Light-grayish-cyan: hsl(185, 41%, 84%);
  --color-Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);

  --transition: all 0.3s linear;
  --transition-slow: transform 0.5s ease-in-out;
  --spacing: 0.3rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1100px;
  --max-width2: 95vw;
}
/*card*/
.card-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 6px;
  color: var(--color-dark-greyish-cyan);
}
.card-container {
  display: grid;
  grid-template-columns: 30rem;
  grid-template-rows: 60% 40%;
  box-shadow: var(--dark-shadow);
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .card-title {
    margin-bottom: 6rem;
  }
}
/*input fields*/
/*<!--TODO: the webkit-apperance property is used for to remove the up and down arrows in number input*/
/* FOR Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*FOR Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(118, 187, 255, 0.25); /*0 and 0 horizontal and vertical offset and 0 for
     bluring and 3px for spreading the shadow*/
}
.card--input {
  background-color: var(--color-white);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-content: center;
}
.card--input > i {
  position: relative;
  top: 20px;
  left: 10px;
  opacity: 0.5;
}

.card--input > input,
.tip--buttons > input {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-radius: var(--radius);
  padding: 0.4rem 1rem;
  text-align: right;
  border: 0;
  outline: 0;
  background-color: var(--color-Very-light-grayish-cyan);

  color: var(--color-very-dark-cyan);
  cursor: grab;
}

.card--input > label,
span {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: var(--color-dark-greyish-cyan);
}

/*buttons*/
.tip--buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  margin: 0.8rem 0 0.5rem 0;
}
.btn {
  border: 0;
  outline: 0;
  padding: 1.2rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  border-radius: var(--radius);
  background-color: var(--color-very-dark-cyan);
  color: var(--color-white);
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-very-dark-cyan);
}
#custom {
  text-align: center;
  font-size: 1.5rem;
}
.btn__reset {
  background-color: var(--color-primary);
  color: var(--color-very-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/*Card Output*/
.card--output {
  padding: 0.5rem 1.7rem;
  background-color: var(--color-white);
}
.card__wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;

  align-items: center;
  background-color: var(--color-very-dark-cyan);
  border-radius: 13px;

  padding: 2rem 2rem 1.5rem 2rem;
}

.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount__flex,
.total__flex {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.amount__flex > h2,
.total__flex > h2 {
  font-size: 1.24rem;
  color: var(--color-white);
}
.amount__flex > h3,
.total__flex > h3 {
  text-transform: lowercase;
  font-size: 1.1rem;
  color: var(--color-grayish-cyan);
}
.price__tag,
.total__tag {
  color: var(--color-primary);
}

/*classes that will be added by javascript*/
.selected {
  background-color: var(--color-primary);
  color: var(--color-very-dark-cyan);
}
@media screen and (min-width: 800px) {
  .card--input > label,
  span {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
  }
  .card--output {
    padding: 1.5rem;
    display: flex;
    align-content: center;
  }
  .card__wrapper {
    grid-template-columns: 28rem;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    padding: 4rem 3rem;
    padding-bottom: 2.5rem;
  }
  .tip--section {
    margin: 1.2rem 0 1.2rem 0;
  }
  .btn__reset {
    align-self: flex-end;
  }
  .price__tag,
  .total__tag {
    color: var(--color-primary);
    font-size: 3rem;
  }
}
/*error*/
.hide {
  display: none;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error-open {
  display: visible;
}
.error-close {
  display: none;
}
.error {
  font-size: 1rem;
  color: red;
  letter-spacing: 2px;
  text-transform: none;
}
